build
patches
swordcraft3.gba
swordcraft3-test.gba
build_log.txt
swordcraft3-test_sym.txt
swordcraft3-test_temp_asm.txt
*.rar
*.zip
*.7z
tracking.json
__pycache__
.vscode
release.json
version_config.json
